<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aut_does_autozone</key>
	<integer>1</integer>
  <key>teleop_litterbins_scored</key>
	<integer>1</integer>
  <key>match_number</key>
	<integer>3</integer>
	<key>aut_moves_bins_to_autozone</key>
	<integer>1</integer>
	<key>aut_stacks</key>
	<integer>0</integer>
	<key>aut_start_pos</key>
	<integer>1</integer>
	<key>aut_yellow_totes_interacted_with</key>
	<integer>1</integer>
	<key>aut_yellow_totes_to_autozone</key>
	<integer>1</integer>
	<key>human_bins</key>
	<integer>4</integer>
	<key>human_fouls</key>
	<integer>3</integer>
	<key>human_noodles</key>
	<integer>3</integer>
	<key>team_color</key>
	<string>Blue</string>
	<key>team_number</key>
	<integer>667</integer>
	<key>teleop_coop_attemptmake</key>
	<integer>2</integer>
	<key>teleop_coop_setsonplatform</key>
	<integer>2</integer>
	<key>teleop_foulsagainst</key>
	<integer>0</integer>
	<key>teleop_knocked_totesstacks</key>
	<integer>4</integer>
	<key>teleop_litterbins_stacked</key>
	<integer>5</integer>
	<key>teleop_littertolandfill</key>
	<integer>5</integer>
	<key>teleop_recyclingbins_stacked</key>
	<integer>4</integer>
	<key>teleop_totalpoints</key>
	<integer>0</integer>
	<key>teleop_totes_scored</key>
	<integer>3</integer>
</dict>
</plist>
